<div class="wrapper wrapper_padding clearfix">
    <div class="col-1 about home_content">
      <h2>About</h2>
      <hr>
      <p>I'm a developer living in Fayetteville, Arkansas. I attend the University of Arkansas; currently majoring in Computer Science.</p>
      <p>I work as a front-end dev at <a href="https://arkansas-water-center.uark.edu/" target="_blank">Arkansas Water Resources Center</a> . Also, I work as a
        PowerApps guru at the University of Arkansas, Information Technology Services department.
        On my spare time, I am learning how to design and code rails, nodejs, and other applications. </p>
      <p> You can find me being goofy on Youtube, sharing some code on Github, and building electronic kits.</p>
     <div class="btn_wrapper">
        <a href="https://drive.google.com/open?id=1mzGQRL74fdcF4ToaYTAwrXkKxtYNyjBO" target="_blank" class="button" >Resume</a>
    </div>
    </div>
    <div class="col-2 hyper home_content">
      <h2>Stuff I've Written</h2>
      <hr>
      <% @posts.each do |post| %>
        <h3><%= link_to post.title, post %></h3>
        <p class="date"><%= post.created_at.strftime("%A, %b %d, %Y")%></p>
      <% end %>
    </div>
    <div class="col-3 hyper home_content">
      <h2>Stuff I've Built</h2>
      <hr>
      <% @projects.each do |project| %>
        <h3><%= link_to project.title, project %></h3>
        <p class="date"><%= project.created_at.strftime("%A, %b %d, %Y")%></p>
      <% end %>
     </div>
  </div>
