<h1 id="pg_title">Let's Make  <em>Something Great</em>  Together!</h1>
<div class="sm_wrapper wrapper_padding">
  <%= form_for @contact do |f| %>

  <%= f.label :name %> <br>
  <%= f.text_field :name, required: true %> <br> <br>

  <%= f.label :email, "Email Here" %> <br>
  <%= f.email_field :email, required: true %> <br> <br>

  <%= f.label :message %> <br>
  <%= f.text_area :message, as: :text %> <br> <br>

  <div class="hidden">
    <%= f.label :nickname %>
    <%= f.text_field :nickname, hint: 'leave this field blank' %>
  </div>

  <%= f.submit 'Send Message', class: "button" %>

  <% end %>
 </div>
