<h1 id="pg_title">Stuff I've Built</h1>

 <div id="posts_wrapper" class="sm_wrapper">
   <% @projects.each do |project| %>
     <div class="post">
     <p class="date"><%= project.created_at.strftime("%A, %b %d, %Y")%></p>
     <h2><%= link_to project.title, project %></h2>
      <hr class="post_hr">
    </div>
   <% end %>
</div>
