<div id="post_show_content" class="sm_wrapper wrapper_padding">
  <header>
    <p class="date"><%= @project.created_at.strftime("%A, %b %d, %Y")%></p>
    <h1><%= @project.title %></h1>
    <hr>
  </header>

  <div id="content">
    <%= markdown @project.description %>
    <div class="btn_wrapper">
      <a href="<%= @project.link %>" class="project_btn" target="_blank">Learn More</a>
    </div>
  </div>

  <% if user_signed_in? %>
  <div id="admin_links">
    <%= link_to "Edit", edit_project_path(@project) %>
    <%= link_to "Delete", project_path(@project), method: :delete, data: {confirm: "Click Ok to delete."} %>
  </div>
  <% end %>
  <hr>
</div>
</div>
