<div id="disqus_thread"></div>
<script type="text/javascript">

/* * *  RECOMMENDED CONFIGURATION VARIABLES: EDIT * * */

var disqus_config = function () {
this.page.title = '<%= @post.title %>';
this.page.url = '<%= url_for(action: 'show', controller: 'posts', only_path: false, protocol: 'https') %>' ;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = '<%= @post.id %>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
// DON'T EDIT BELOW THIS LINE
(function() {
var d = document, s = d.createElement('script');
s.src = 'https://devby-yj.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
