<h1 id="pg_title">Stuff I've Written</h1>

 <div id="posts_wrapper" class="sm_wrapper">
   <% @posts.each do |post| %>
     <div class="post">
     <p class="date"><%= post.created_at.strftime("%A, %b %d, %Y")%></p>
     <h2><%= link_to post.title, post %></h2>
      <hr class="post_hr">
    </div>
   <% end %>
</div>

<%= will_paginate @posts %>
