<div id="post_show_content" class="sm_wrapper wrapper_padding">
  <header>
    <p class="date"><%= @post.created_at.strftime("%A, %b %d, %Y")%></p>
    <h1><%= @post.title %></h1>
    <hr>
  </header>

  <div id="content">
    <%= markdown @post.content %>
  </div>
   <% if user_signed_in? %>
   <div id="admin_links">
     <%= link_to "Edit Article", edit_post_path(@post) %>
     <%= link_to "Delete Article", post_path(@post), method: :delete, data: {confirm: "Click Ok to delete."} %>
   </div>
   <% end %>
  <hr>
  <div id="share_buttons">
    <p>Feel Free to Share </p>
    <a href="https://twitter.com/share?text=<%=@post.title%> by @yakeshiajenkins - &amp; url=<%= url_for([@post, {only_path: false}]) %>' " target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.facebook.com/sharer.php?u=<%= url_for([@post, {only_path: false}]) %>' " target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://plus.google.com/share?url=<%= url_for([@post, {only_path: false}]) %>' " target="_blank"><i class="fab fa-google-plus"></i></a>
  </div>
  <hr>
  <%= render 'disqus' %>
  </div>
