#posts_wrapper {padding: 3em 0;}

#posts_wrapper .post {text-align: center;}

#posts_wrapper .date {
  font-size: 0.9em;
  margin: 0;}

#posts_wrapper h2 {
  margin: 0;
  font-size: 2em;
  text-transform: uppercase;}

#posts_wrapper h2 a {
  text-decoration: none;
  color: var(--dark);}

#posts_wrapper h2 a:hover {color: var(--highlight);}

 #posts_wrapper hr {
   width: 3em;
   display: block;
   height: 2px;
   border: 0;
   border-top: 2px solid var(--highlight);
   margin: 3rem auto;}
/* Show Post Content */
#post_show_content hr{
  width: 3em;
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid var(--highlight);
  margin: 2rem auto;}
#post_show_content header{text-align: center;}
#post_show_content .date{
  font-size: .9em;
  color: var(--light);
  margin: 0;}
#post_show_content h1{margin: 0;}
#share_buttons{
  text-align: center;
}
#share_buttons p{
  padding: 0 0 1em 0;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--dark);
  font-size: .8em;
}
#share_buttons i{
  color: var(--dark);
  padding: 1em 1.5em;
}
#share_buttons i:hover{
  color: var(--highlight);
  cursor: pointer;
}
#admin_links{
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  text-align: center;
  padding: 1em 0;
  margin: 3em 0;
  a{
    color: var(--light);
    margin: 0 1em;
    font-weight: 700;
    font-size: .8em;
    text-decoration: none;
    text-transform: uppercase;
  }
}
/* pagination */
.pagination::before, .pagination::after{
  content: " ";
  display: table;}

.pagination::after{clear: box;}

.pagination{
  text-align: center;
  margin: 0 0 3em 0;}

.pagination a, .prev_pg, .curr, .next_pg{
  padding: .75em 1em;
  margin: 0 .5em;
  background: white;
  text-decoration: none;
  font-size: .7em;
  font-style: normal;
  color: var(--dark);
  border-radius: .15em;
  font-weight: 700;
  line-height: 20px;}

.pagination a:hover, .prev_pg:hover, .curr:hover, .next_pg:hover {
  background: var(--highlight);
  color: white;}

.curr{
  background: var(--highlight);
  color: white;}

.disabled{color: #C0C0C0;}

.disabled:hover{
  color: #C0C0C0;
  background: white;}
