.col-1, .col-2, .col-3 {
  float: left;
}
.col-1 {
  width: 45%;
  padding: 0 5% 0 2.5%;
}
.col-2, .col-3 {
  width: 27.5%;
  padding: 0 2.5%;
}
.home_content h2 {
  font-size: 1.1rem;
  text-transform: uppercase;
}
.home_content h3 {
  color: var(--dark);
  font-size: 1.35rem;
  font-weight: 400;
  margin-bottom: 0.5em;
}
.home_content .date {
  font-size: 0.85em;
  margin-bottom: 2em;
  color: var(--light);
}
.home_content hr{
  width: 3em;
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid var(--highlight);
  margin: 2rem 0;
}
.home_content p {
  margin: 0 0 0.75em 0;
}
.about {
  padding: 0 7.5% 0 0;
}
.about a {
  color: var(--highlight);
  font-weight: bold;
  text-decoration: none;
}
.hyper a {
  color: var(--dark);
  text-decoration: none;
}
.hyper a:hover {
  color: var(--highlight);
}
