/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "normalize";
 @import "welcome";
 @import "post_projects";
 @import "pygments";

 :root{
   --dark: #424652;
   --light: #9a9da4;
   --highlight: #FF0800;
   --border: #E9E9E9;
 }
 *{box-sizing: border-box;}
 h1, h2, h3, h4,h5, h6, p, ul, li{ color: var(--dark);}
 h1{font-size: 2.5rem;}
 h2{font-size: 2rem;}
 h3{font-size: 1.75rem;}
 h4{font-size: 1.375rem;}
 h5{font-size: 1.25rem;}
 h6{font-size: 1rem;}

 p, li{
   font-size: 1.1rem;
   line-height: 1.75;}

 p, ul, ol{margin: 0 0 1.6em 0;}

 body{font-family: 'Raleway', sans-serif;}

 .wrapper{
   width: 90%;
   margin: 0 auto;}

 .wrapper_padding{padding: 4rem 0;}

 .sm_wrapper{
   width: 80%;
   max-width: 760px;
   margin: 0 auto;}

 .clearfix::before, .clearfix::after{
   content: " ";
   display: table;}

 .clearfix::after{clear:both;}

 .hidden{
   display: none;
 }
 .notice, .alert{
   text-align: center;
   padding: 1em 0;
   border-bottom: 1px solid var(--border);
 }
 /* main navigation */
 #main_nav {
   padding: 2.5em 5%;
   border-bottom: 1px solid var(--border);}

 #main_nav .name{
   font-weight: 700;
   font-size: .8em;
   text-transform: uppercase;
   letter-spacing: 4px;
   border: 2px solid var(--border);
   padding: 1rem;
   text-decoration: none;
   color:var(--dark);
   float: left;}

 #main_nav .name:hover{color: var(--highlight);}

 #main_nav nav{
   float: right;
   padding-top: 1.5rem;}

 #main_nav nav a{
   color: var(--dark);
   text-decoration: none;
   margin: 0 1rem;
   font-size: 1rem;}

 #main_nav nav a:hover{color: var(--highlight);}

 #pg_title{
   text-align: center;
   border-bottom: 1px solid var(--border);
   padding: 3em 0;
   font-size: 1rem;
   text-transform: uppercase;}

 /* footer */
 #main_footer{
   padding: 2.5em 5%;
   border-top: 1px solid var(--border);}

 #main_footer .copyright{
   float: left;
   font-size: .9em;
   margin: 0;}

 #main_footer a{
   text-decoration: none;}

 #main_footer a:hover{color: var(--highlight);}

 #main_footer nav{float: right;}

 #main_footer nav i{
   color: var(--dark);
   margin-left: 1em;
   padding-top: .2em;}

 #main_footer nav i:hover{color: var(--highlight);}

 /* form */
 input[type="text"], input[type="email"], input[type="password"], textarea{
   width: 100%;
   max-width: 100%;
   height: 3em;
   border: 2px solid var(--border);
   padding: 1em;
   margin: .5em 0 2em 0;}

 textarea{min-height: 20em;}

 input[type="submit"], .button{
   outline: none;
   background: transparent;
   border: 2px solid var(--border);
   text-align: center;
   font-size: 1em;
   color: var(--dark);
   text-decoration: none;
   padding: 1em 2em;}

 input[type="submit"]:hover{
   border: 2px solid var(--highlight);
   color: var(--highlight);}

   .project_btn{
     font-weight: bold;
     background: var(--highlight);
     color: white;
     text-decoration: none;
     padding: 1em 2em;
   }
   .btn_wrapper{
     margin: 4em 0 0 0;
     text-align: center;
   }
