<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127524947-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('require', 'linkid');
    gtag('config', 'UA-127524947-1');
  </script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-9403158535239747",
      enable_page_level_ads: true
    });
  </script>
    <title> Yakeshia Jenkins </title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="google-site-verification" content="4jXOcCCA0ARpKIDJd4yyyanRD0Wkb-HDCkP4h1m74yQ" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="main_nav" class="clearfix">
    <%= link_to "Yakeshia Jenkins", root_path, class: 'name' %>
    <nav>
      <%= link_to "Articles", posts_path %>
      <%= link_to "Projects", projects_path %>
      <%= link_to "Contact", new_contact_path %>
      <% if user_signed_in? %>
       <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% end %>
    </nav>
  </header>

  <% if notice %>
  <p class="notice"><%= notice %></p>
  <% elsif alert %>
  <p class="alert"><%= alert %></p>
  <% end %>

    <%= yield %>

    <footer id="main_footer">
        <p class="copyright"> &copy; 2018 Yakeshia Jenkins &amp; Designed by <a href="http://mackenziechild.me" target="_blank">Mackenzie Child</a></p>
        <nav>
          <a href="https://twitter.com/yakeshiajenkins" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://github.com/yakeshiaj" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://bitbucket.org/yakeshiaj" target="_blank"><i class="fab fa-bitbucket"></i></a>
          <a href="https://www.facebook.com/YaYaFoeShoo" target="_blank"><i class="fab fa-facebook"></i></a>
        </nav>
    </footer>
  </body>
</html>
